.ipynb_checkpoints/optimization of graph-checkpoint.ipynb
.ipynb_checkpoints/Probability, statistic and program-checkpoint.ipynb
.ipynb_checkpoints/Python_summary-checkpoint.ipynb
.ipynb_checkpoints/sampling&confidence_interval-checkpoint.ipynb
.ipynb_checkpoints/Sentiment Analysis-checkpoint.ipynb
